<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="list">
            <p class="center f30 title">欢迎使用成绩单后台管理系统</p>
            <!--<div class="query">-->
            <!--    -->
            <!--</div>-->

            <a class="r" th:href="@{/update}">添加新成绩记录</a>
            <div class="r">
                <form th:action="@{/index}" method="get">
                    <input name="keyword" style="width: 30%; margin: 10px 20px 10px 10px;"/>
                    <button type="submit">搜索</button>
                </form>
            </div>


            <table class="tbl">
                <tr class="tbl-header">
                    <!--Table Header Cells: <th>-->
                    <th class="w20">课程代码</th>
                    <th class="w20">课程名称</th>
                    <th class="w20">学分</th>
                    <th class="w20">学年学期</th>
                    <th class="w20">平时成绩</th>
                    <th class="w20">期末成绩</th>
                    <th class="w20">总成绩</th>
                    <th>操作</th>
                </tr>
                <tr class="tbl-row" th:if="${#lists.isEmpty(session.GradeList)}">
                    <td colspan="8">对不起，库存为空！</td>
                </tr>
                <tr class="tbl-row" th:unless="${#lists.isEmpty(session.GradeList)}" th:each="grade : ${session.GradeList}">
                    <!--Table Data Cell: <td>-->
                    <!--<td><a th:href="@{'/update?classCode='+${grade.getClassCode()}}" th:text="${grade.getClassCode()}">classCode</a>></td>-->
                    <td><a th:href="@{/update(classCode=${grade.getClassCode()})}" th:text="${grade.getClassCode()}">classCode</a></td>
                    <td th:text="${grade.getClassName()}">className</td>
                    <td th:text="${grade.getCredit()}">Credit</td>
                    <td th:text="${grade.getSemester()}">Semester</td>
                    <td th:text="${grade.getUsualGrades()}">usualGrades</td>
                    <td th:text="${grade.getFinalGrades()}">finalGrades</td>
                    <td th:text="${grade.getOverallGrades()}">OverallGrades</td>
                    <td>
                        <button th:onclick="del()">删除</button>
                    </td>
                </tr>
            </table>
            <div class="select-btn">
                <button th:onclick="|goPage(${1})|" th:disabled="${page == 1}">首页</button>
                <button th:onclick="|goPage(${page-1})|" th:disabled="${page == 1}">上一页</button>
                <button th:onclick="|goPage(${page+1})|" th:disabled="${page == session.pageCount}">下一页</button>
                <button th:onclick="|goPage(${session.pageCount})|" th:disabled="${page == session.pageCount}">尾页</button>
            </div>
        </div>
    </div>
</body>
</html>